.App {
  text-align: center;
  padding-top: 115px;
}

.App-header {
  background-color: #2b5271;
  height: 250px;
  padding: 20px 20px 10px;
  color: white;
  background-image: url('./electricity.jpg');
}

.App-title {
  font-size: 4em;
}

.App-intro {
  font-size: large;
}
